body{
    background-color: rgb(9, 97, 6);
    color: rgb(10, 240, 48);
}
.meioambiente{
    background-image: linear-gradient(30deg, rgb(241, 168, 10),rgb(250, 104, 6));
}
.meioambiente1{
    background-image: radial-gradient(rgb(8, 243, 173),rgb(7, 63, 247));
}
.meioambiente2{
    background-color: rgb(22, 153, 33);
}
.meioambiente3{
    width: 20%;
}
.meioambiente4{
    width: 30%;
}